:root{
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
    display:flex; 
    flex-direction:column;
    margin: 1rem auto;
    min-height: 100vh;
    width: 90%;
}

main{
    margin-top: 5%;
    width: 100%;
}