/*====================
======= Parte estructural ======
======================*/

:root{
    box-sizing: border-box;
}

body{
    background-color: hsl(308, 100%, 80%);
    display:flex; 
    flex-direction:column;
    margin: 1rem auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{
    margin-top: 5%;
}

/*====================
====== Columns ======
======================*/

.desktop-one-column .column{
    margin-bottom: 5%;
}

.column{
    width: 100%;
}

.desktop-two-column{
    display: flex;
}

.desktop-three-column{
    display: flex;
}

.desktop-three-column .column{
    width: 30%;
}

.desktop-four-column{
    display: flex;
}

.desktop-four-column .column{
    width: 24%;
}

.desktop-two-column-aside{
    display: flex;
}

.desktop-two-column-aside .column-main{
    width: 65%;
}

.desktop-two-column-aside .column-aside{
    width: 30;
}

.two-column-aside{
    display: flex;
}

.two-column-aside .column-aside{
    width: 20%;
}

.two-column-aside .column-main{
    width: 80%;
}

.two-column{
    display: flex;
    justify-content: space-between;
}

.two-column .column{
    width: 45%;
}

/*====================
====== Tipografía ======
======================*/


h1, h2, h3, h4, h5, h6, a, p, label{
    color: hsl(180, 5%, 25%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6, form, option{
    font-family: "Ubuntu Condensed";
}

a, td, p, button, label, input{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2{
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h3{
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}

h4{
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
======== Imagenes =========
======================*/

img{
    max-width: 100%;
}

/*====================
======== Specials =========
======================*/

.orange p{
    color: hsl(0, 100%, 50%);
    font-size: 1.5rem ;
}

.italic p{
    font-style: italic;
    font-weight: 300;
}

.pink-button button{
    background-color: hsl(293, 51%, 37%);
    border: .2rem transparent;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 .5rem 1rem 0 rgba(0,0,0,0.19);
    color: hsl(308, 100%, 80%);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.pink-button button:hover{
    background-color: transparent;
    box-shadow: 0 0 .2rem 0 hsl(293, 51%, 37%), 0 0 .2rem .1rem hsl(293, 51%, 37%);
    color: hsl(293, 51%, 37%);
}

/*====================
======== Header =========
======================*/

.logo-title{
    display: flex;
    margin: auto 0;
}

.logo{
    width: max-content;
}

.logo svg{
    height: 3rem;
    width: 3rem;
}

.logo svg path{
    fill: hsl(180, 5%, 25%);
}

.title{
    margin-left: 1em;
}

.title h1{
    text-align: left;
}

.menu{
    margin: auto 0;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.menu ul li{
    margin: 1rem;
}

.menu ul li a{
    color:hsl(180, 5%, 25%);
    font-family: "Ubuntu Condensed";
    text-decoration: none;
}

.hamburguer{
    display: none;
}

.hamburguer svg{
    height: 2rem;
    width: 2rem;
}

.hamburguer path{
    fill: hsl(180, 5%, 25%);
}

/* Slider */

.slider{
    margin-bottom: 1rem;
}

.slider-image{
    position: relative;
    z-index: 1000;
}

.slider-title{
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 1001;
}

.slider-button{
    position: absolute;
    left: 20%;
    top: 36%;
    z-index: 1001;

}

.slider-button button{
    padding: .5rem 1rem;
}


.slider-text a{
    z-index: 1001;
}

/* Featured */

.featured-title{
    width: 100%;
}

.featured-title h3{
    text-align: center;
}

.featured-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem;
}

.featured-images{
    display: flex;
    justify-content: space-between;
}

.featured-element-image{
    height: 18vh;
    overflow: hidden;
}

.featured-element-text{
    width: 100%;    
}

.featured-element-text p{
    padding: 10% 0;
    text-align: center;
}

/* Article */

.article{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.article p{
    padding: 10%;
}

/*====================
======== Contact us =========
======================*/


.contact-title h2{
    text-align: center;
}

.contact-us{
    display: flex;
    flex-wrap: wrap;
}

.contact-us-option{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact-us-option-icon{
    margin-right: .5rem;
}

.contact-us-option-icon svg{
    height: 2rem;
    width: 2rem;
}

.contact-us-option-icon svg path{
    fill: hsl(293, 51%, 37%);
}

.contact-us-option-map{
    margin-top: .5rem;
}

.contact-us-option-map iframe{
    border: .2rem transparent;
    border-radius: .5rem;
    height: 20rem;
    width: 25rem;
}

.contact-form-element{
    margin-right: .5rem;
}

.contact-form-element-label{
    margin-bottom: .5rem;
}

.contact-form-element-input input{
    border: .2rem transparent;
    border-bottom: .2rem solid hsl(293, 51%, 37%);
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: .2rem 0;
    width: 100%;
}

.contact-form-element-input textarea{
    border: .2rem transparent;
    border-bottom: .2rem solid hsl(293, 51%, 37%);
    border-radius: .25rem;
    height: 16rem;
    resize: none;
    width: 100%;
}

.contact-form-element-button button{
    float: right;
    padding: .5rem;
    width: 20%;
}

/*====================
======== Gallery =========
======================*/

.gallery-main-category h3{
    margin-bottom: 1rem;
}

.gallery-main-category-element{
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.gallery-main-category-element-input input{
    margin-right: .5rem;
}

.gallery-main-list{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.gallery-main-list-select select{
    border-radius: .25rem;
}

.gallery-main-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-main-product-unit{
    margin-bottom: 1rem;
}

.gallery-main-product-unit-info-name, .red{
    margin-bottom: .5rem;
}

.red p{
    color: hsl(0, 100%, 50%);
}

.gallery-main-product-unit-info-button button{
    padding: .5rem;
    width: 30%;
}

/*====================
======== Product file =========
======================*/

.product-file-general{
    margin-left: 2rem;
    margin-top: 4rem;
}

.product-file-general-info-title p{
    font-size: 3rem;
}

.product-file-general-info-price p{
    font-size: 2rem;
}

.product-file-general-info-description p{
    font-style: italic;
}

.product-file-general-shop-amount{
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
}
.product-file-general-shop-amount-txt{
    margin-right: 1rem;
    padding-top: .3rem;
}

.minus, .plus{
    width: 1rem;
    height: 1rem;
    background: hsl(293, 51%, 37%);
    border-radius: .25rem;
    color: hsl(0, 0%, 100%);
    padding: .3rem;
    border: .1rem solid hsl(0, 0%, 87%);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.product-file-general-shop-amount-button input, .cart-main-info-element input{
    height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-size: 1rem;
    border: .1rem solid hsl(0, 0%, 87%);
    border-radius: .25rem;
    display: inline-block;
    vertical-align: middle;
}

.product-file-general-shop-button{
    display: flex;
    justify-content: space-around;
}

.product-file-general-shop-button button{
    padding: .5rem 1rem;
}

.product-file-general-shop-button svg{
    height: 2rem;
    width: 2rem;
}


/*====================
======== Cart =========
======================*/

.cart-main-title, .cart-main-total{
    width: 100%;
}

.cart-main-title h2, .cart-main-total-txt-element-num p{
    text-align: center;
}

main .cart-main{
    margin: auto;
    width: 90%;
}

.cart-main-info{
    margin-top: 2rem;
}

.cart-main-total-txt{
    width: 100%;
}

.cart-main-total-button button{
    margin-top: .5rem;
    padding: .5rem 1rem;
}

/*====================
======== Checkout =========
======================*/

.checkout-main-title h2{
    margin-bottom: 2rem;
    text-align: center;
}

.checkout-main-details-element h3, .checkout-main-order-title h3{
    font-weight: 400;
    margin-bottom: 2rem;
}

.checkout-main-details{
    margin-right: 1.5rem;
}

.checkout-main-details-element-label{
    margin-bottom: .2rem;
}

.checkout-main-details-element-input input, select{
    background-color: hsl(41, 100%, 88%);
    border-radius: .25rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: .2rem 0;
    width: 100%;
}

.checkout-main-order-detail{
    margin-bottom: 2rem;
}

.checkout-main-order-detail-element{
    margin-bottom: 1.5rem;
}

.checkout-main-order-bank{
    margin-bottom: 6.5rem;
}

.checkout-main-order-bank-element{
    display: flex;
    margin-bottom: .5rem;
}

.checkout-main-order-bank-element-input{
    margin-right: .5rem;
}

.background{
    background-color: hsl(41, 100%, 88%);
    border-radius: .25rem;
    padding: .5rem 0;
}

.checkout-main-order-check-element-button{
    margin-top: 1rem;
}

.checkout-main-order-check-element-button button{
    float: right;
    margin-top: .5rem;
    padding: .5rem 1rem;
}

/*====================
======== Footer =========
======================*/

footer{
    margin-top: auto; 
    width: 100%;
}

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .copyright p{
        font-size: 1.5em;
    }
}


@media (max-width:1024px) {

    header{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}

@media (max-width:479px) {

    header{
        border-bottom: .5rem solid hsl(293, 51%, 37%);
        border-radius: 1rem;
    }

    header .title{
        padding-left: 2rem;
    }

    .menu{
        display: none;
    }

    .hamburguer{
        display: block;
    }

    main{
        width: 100%;
    }

    .mobile-one-column{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mobile-one-column .column{
        margin-top: .5rem;
        width: 100%;
    }

    .mobile-special-column{
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-special-column .column{
        width: 100%;
    }

    .mobile-special-column .mobile-column-main{
        width: 60%;
    }

    .mobile-special-column .mobile-column-aside{
        width: 40%;
    }

    .mobile-column-aside{
        margin-top: .2rem;
    }

    .mobile-none{
        display: none;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2, h3{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    .logo{
        height: max-content;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        height: max-content;
        margin-left: 0.5em;
    }

    .slider-title{
        left: 7%;
        top: 13%;
    }

    .slider-button{
        left: 15%;
        top: 17%;
    }

    .slider-button button{
        border: .1rem solid hsl(293, 51%, 37%);
    }

    .featured-images {
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }

    .featured-images p{
        text-align: center;
    }

    .featured-element{
        display: flex;
        flex-wrap: nowrap;
        margin: 0.5rem;
    }

    .featured-element-image{
        height: auto;
    }
    
    .article{
        align-items: center;
        flex-direction: column-reverse;
        margin: auto;
        width: 100%;
    }

    .article-text{
        margin-bottom: .5rem;
    }

    .article-image{
        height: auto;
        margin: auto;
        max-width: 80%;
    }

    .article p{
        padding: 0;
        text-align: center;
    }

    .contact-us-option-map{
        margin: 0;
        margin-top: .5rem;
    }

    .contact-us-option-map iframe{
        height: 10rem;
        width: 100%;
    }

    .contact-form-element-input input{
        width: 100%;
    }

    .contact-form-element-input textarea[type=text]{
        height: 10rem;
        width: 100%;
    }

    .contact-form-element-button button{
        float: left;
    }

    .gallery-main-list-stock{
        display: none;
    }
     
    .product-file-general-info-title{
        margin-right: 1rem;
    }

    .product-file-general-info-title p{
        font-size: 1.5rem;
    }

    .product-file-general-shop-button{
        margin-right: 1.5rem;
    }

    .mobile-column-aside p{
        margin-right: 2rem;
        text-align: center;
    }

    .cart-main{
        padding-left: 2.5rem;
    }
    
    .cart-main-title h2{
        font-size: 1.7rem;
        padding-right: 3.5rem;
    }

    .cart-main-total{
        margin-top: 1rem;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}




