/*====================
======= Parte estructural ======
======================*/

body{
    background-color: hsl(308, 100%, 80%);
    display:flex; 
    flex-direction:column;
    margin: 1rem auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{
    margin-top: 5%;
}

/*====================
====== Columns ======
======================*/

.desktop-one-column{
    display: flex;
    flex-wrap: wrap;
}

.desktop-one-column .column{
    margin-bottom: 5%;
}

.column{
    width: 100%;
}

.desktop-two-column{
    display: flex;
}

/*====================
====== Tipografía ======
======================*/


h1, h2, h3, h4, h5, h6, a, p, label{
    color: hsl(180, 5%, 25%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6, form {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2, h3 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4{
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
======== Imagenes =========
======================*/

img{
    max-width: 100%;
}

/* Header */

.logo-title{
    display: flex;
    margin: auto 0;
}

.logo{
    width: max-content;
}

.logo svg{
    height: 3rem;
    width: 3rem;
}

.logo svg path{
    fill: hsl(180, 5%, 25%);
}

.title{
    margin-left: 1em;
}

.title h1{
    text-align: left;
}

.menu{
    margin: auto 0;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.menu ul li{
    margin: 1rem;
}

.menu ul li a{
    color:hsl(180, 5%, 25%);
    font-family: "Ubuntu Condensed";
    text-decoration: none;
}

.hamburguer{
    display: none;
}

.hamburguer svg{
    height: 2rem;
    width: 2rem;
}

.hamburguer path{
    fill: hsl(180, 5%, 25%);
}

/* Slider */

.slider{
    margin-bottom: 1rem;
}

.slider-image{
    position: relative;
    z-index: 1000;
}

.slider-title{
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 1001;
}

.slider-button{
    position: absolute;
    left: 20%;
    top: 35%;
    z-index: 1001;

}

.slider-button button{
    background-color: hsl(308, 100%, 80%);
    border: .2rem solid hsl(293, 51%, 37%);
    border-radius: .25rem;
    color: hsl(308, 100%, 80%);
    cursor: pointer;
    padding: .5rem;
    transition: all 150ms ease-in-out;
    padding: 0.25em 1em;
}

.slider-button button:hover {
    background-color: transparent;
    box-shadow: 0 0 .2rem 0 hsl(293, 51%, 37%), 0 0 .2rem .1rem hsl(293, 51%, 37%);
    color: hsl(293, 51%, 37%);
}

.slider-text a{
    z-index: 1001;
}

/* Featured */

.featured-title{
    width: 100%;
}

.featured-title h3{
    text-align: center;
}

.featured-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem;
}

.featured-images{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.featured-element-image{
    height: 18vh;
    overflow: hidden;
}

.featured-element-text{
    width: 100%;    
}

.featured-element-text p{
    padding: 10% 0;
    text-align: center;
}

/* Article */

.article{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.article p{
    padding: 10%;
}

/* Contactos */


.contact-title h2{
    text-align: center;
}

.contact-us{
    display: flex;
    flex-wrap: wrap;
}

.contact-us-option{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact-us-option-icon{
    margin-right: .5rem;
}

.contact-us-option-icon svg{
    height: 2rem;
    width: 2rem;
}

.contact-us-option-icon svg path{
    fill: hsl(293, 51%, 37%);
}

.contact-us-option-map{
    margin-top: .5rem;
}

.contact-us-option-map iframe{
    border: .2rem transparent;
    border-radius: .5rem;
    height: 20rem;
    width: 25rem;
}

.contact-form-element{
    margin-right: .5rem;
}

.contact-form-element-label{
    margin-bottom: .5rem;
}

.contact-form-element-input input{
    border: .2rem transparent;
    border-bottom: .2rem solid hsl(293, 51%, 37%);
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: .2rem 0;
    width: 100%;
}

.contact-form-element-input textarea{
    border: .2rem transparent;
    border-bottom: .2rem solid hsl(293, 51%, 37%);
    border-radius: .25rem;
    height: 16rem;
    resize: none;
    width: 100%;
}

.contact-form-element-button button{
    background-color: hsl(293, 51%, 37%);
    border: .2rem transparent;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2), 0 .5rem 1rem 0 rgba(0,0,0,0.19);
    color: hsl(308, 100%, 80%);
    cursor: pointer;
    float: right;
    padding: .5rem;
    transition: all 150ms ease-in-out;
    width: 20%;
}

.contact-form-element-button button:hover {
    background-color: transparent;
    box-shadow: 0 0 .2rem 0 hsl(293, 51%, 37%), 0 0 .2rem .1rem hsl(293, 51%, 37%);
    color: hsl(293, 51%, 37%);
}

/* Footer */

footer{
    margin-top: auto; 
    width: 100%;
}

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .copyright p{
        font-size: 1.5em;
    }
}


@media (max-width:1024px) {

    header{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}

@media (max-width:479px) {

    header{
        border-bottom: .5rem solid hsl(293, 51%, 37%);
        border-radius: 1rem;
    }

    header .title{
        padding-left: 2rem;
    }

    .menu{
        display: none;
    }

    .hamburguer{
        display: block;
    }

    main{
        width: 100%;
    }

    .mobile-one-column{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mobile-one-column .column{
        margin-top: .5rem;
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1rem;
    }

    .logo{
        height: max-content;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        height: max-content;
        margin-left: 0.5em;
    }

    .slider-title{
        left: 7%;
        top: 13%;
    }

    .slider-button{
        left: 15%;
        top: 16%;
    }

    .slider-button button{
        border: .1rem solid hsl(293, 51%, 37%);
    }

    .featured-images {
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }

    .featured-images p{
        text-align: center;
    }

    .featured-element{
        display: flex;
        flex-wrap: nowrap;
        margin: 0.5rem;
    }

    .featured-element-image{
        height: auto;
    }
    
    .article{
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
    }

    .article-image{
        height: auto;
        max-width: 80%;
    }

    .article p{
        padding: 0;
        text-align: center;
    }

    .contact-us-option-map{
        margin: 0;
        margin-top: .5rem;
    }

    .contact-us-option-map iframe{
        height: 10rem;
        width: 100%;
    }

    .contact-form-element-input input{
        width: 100%;
    }

    .contact-form-element-input textarea[type=text]{
        height: 10rem;
        width: 100%;
    }

    .contact-form-element-button button{
        float: left;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}




