.cart-main{
    margin: auto;
    width: 90%;
    .cart-main-title, .cart-main-total{
        width: 100%;
    }
    
    .cart-main-title h2, .cart-main-total-txt-element-num p{
        text-align: center;
    }

    .cart-main-info{
        margin-top: 2rem;
        .cart-main-info-element{
            
            input{
                height: 1.5rem;
                width: 4rem;
                text-align: center;
                font-size: 1rem;
                background-color: hsl(41, 100%, 88%);
                border: .1rem solid hsl(180, 5%, 25%);
                border-radius: .25rem;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .cart-main-total-txt{
        width: 100%;
    }

    .cart-main-total-button{
        button{
            margin-top: .5rem;
            padding: .5rem 1rem;
        }        
    }    
}


