/*====================
========Header========
======================*/

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-title{
    display: flex;
    margin: auto 0;
}

.logo{
    width: max-content;

	svg{
		height: 3rem;
		width: 3rem;

		path{
			fill: hsl(180, 5%, 25%);
		}
	}
}

.title{
    margin-left: 1em;
	
	h1{
		text-align: left;
	}
}